body {
    font-family: "Inter", sans-serif;
 }

 header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 30px;
    padding-top: 20px;
}

header .cabeca {
    box-shadow: 0px 4px 4px 0px #00000025;
    width: 100%;
    height: 30px;
    padding-bottom:23px;
    display: flex;
    justify-content: center;
    align-items: center;
}

 header #container {
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 44px;
}

header #container .marca {
    width: 200px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    color: #3a404e;
    font-size: 18px;
}

header #container .marca img {
    width: 27px;
}

header #container ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 40px;
}

header #container ul li {
    display: flex;
    font-size: 15px;
}

header #container ul li a {
    text-decoration: none;
    color: #667085;
}

header #container .cadastro {
    font-size: 15px;
}

header #container .cadastro .entrar a {
    text-decoration: none;
    color: #667085;
}

header #container .cadastro .cad a {
    display: flex;
    text-decoration: none;
    height: 44px;
    width: 112px;
    color: #fff;
    background-color: #8e2424;
    align-items: center;
    justify-content: center;
    border-radius: 10px;

}

header #container .nada {
    width: 150px;
    height: 32px;
}

header #container .cadastro {
    display: flex;
    gap: 30px;
    align-items: center;
}

header #sobre {
    width: 1216px;
    height: 327px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

header #sobre h2 {
    font-size: 50px;
    font-weight: bold;
}

header #sobre h4 {
    width: 792px;
    font-size: 20px;
    text-align: center;
    line-height: 30px;
    color: #667085;

}

header #sobre .sobrenos {
    display: flex;
    justify-content: center;
    color: #8e2424;
    font-weight: bold;
}

#metricas {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 288px;
    width: 100%
}

#metricas .container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 1161px;
    height: 192px;
    gap: 32px;

}

#metricas .container .metrica1 {
    width: 280px;
}

#metricas .container .metrica2 {
    width: 280px;
}

#metricas .container .metrica3 {
    width: 280px;
}

#metricas .container .metrica4 {
    width: 280px;
}

#metricas .container .metrica1 .title {
    font-size: 60px;
    color:#8e2424;
    font-weight:600;
    margin-bottom: 12px;
}

#metricas .container .metrica1 .sub {
    font-size: 18px;
    color: #101828;
    font-weight:500;
    margin-bottom: 15px;
}

#metricas .container .metrica1 .text {
    font-size: 16px;
    color: #667085;
    line-height: 24px;
}

#metricas .container .metrica2 .title {
    font-size: 60px;
    color:#8e2424;
    font-weight:600;
    margin-bottom: 12px;
}

#metricas .container .metrica2 .sub {
    font-size: 18px;
    color: #101828;
    font-weight:500;
    margin-bottom: 15px;
}

#metricas .container .metrica2 .text {
    font-size: 16px;
    color: #667085;
    line-height: 24px;
}

#metricas .container .metrica3 .title {
    font-size: 60px;
    color:#8e2424;
    font-weight:600;
    margin-bottom: 12px;
}

#metricas .container .metrica3 .sub {
    font-size: 18px;
    color: #101828;
    font-weight:500;
    margin-bottom: 15px;
}

#metricas .container .metrica3 .text {
    font-size: 16px;
    color: #667085;
    line-height: 24px;
}

#metricas .container .metrica4 .title {
    font-size: 60px;
    color:#8e2424;
    font-weight:600;
    margin-bottom: 12px;
}

#metricas .container .metrica4 .sub {
    font-size: 18px;
    color: #101828;
    font-weight:500;
    margin-bottom: 15px;
}

#metricas .container .metrica4 .text {
    font-size: 16px;
    color: #667085;
    line-height: 24px;
}

#vagas {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 96px;
}

#vagas .container1 {
    width: 1280px;
    height: 602px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

#vagas .container1 img {
    display: flex;
    justify-content: center;
    width: 1216px;
    height: 400px;
}

#vagas .container1 .info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#vagas .container1 .info h4 {
    font-size: 14px;
    width: 115px;
    height: 20px;
    padding: 2px;
    border-radius: 15px;
    font-weight: 500;
    text-align: center;
    color: #8e2424;
    background-color: #8e242410;
    margin-bottom: 20px;
}

#vagas .container1 .info .procura {
    font-size: 36px;
    font-weight: 550;
    margin-bottom: 20px;
    color: #101828;
}

#vagas .container1 .info h3 {
    font-size: 20px;
    margin-bottom: 64px;
    color: #667085;

}

#vagas .container2 {
    width: 1216px;
}

#vagas .container2 .parte1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#vagas .container2 .parte1 .title {
    height: 70px;
    width: 810px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    padding: 0px;
    font-weight: 550;
    font-size: 20px;
    color: #101828;
    margin-bottom: 30px;

}

#vagas .container2 .parte1 ul {
    gap: 25px;

}

#vagas .container2 .parte1 ul li {
    width: 750px;
    height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border: 1px solid rgba(0, 0, 0, 0.151);
    border-radius: 15px;
    padding:10px 30px;

}

#vagas .container2 .parte1 ul li div {
    display: flex;
    flex-direction: row;
    gap: 20px;
    color: #667085;

}

#vagas .container2 .parte1 ul li h3 {
    color: #101828;
    font-size: 18px;
    font-weight: 500;
}

#vagas #semifinal {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 360px;
    width: 1068px;
    margin-bottom: 100px;
    margin-top: 115px;
    background-color: #c3191908;
    padding: 64px;
    border-radius: 15px;
    
}

#vagas #semifinal h4 {
    font-size: 14px;
    color: #8e2424;
    font-weight:600;
    margin-bottom: 20px;
}

#vagas #semifinal h3 {
    font-size: 36px;
    text-align: center;
    margin-bottom: 30px;
    line-height: 44px;
    font-weight: 500;
}

#vagas #semifinal img {
    margin-bottom: 17px;
}

#vagas #semifinal h5 {
    font-size: 16px;
    color: #101828;
    margin-bottom: 6px;
    font-weight: 500;
}

#vagas #semifinal h6 {
    color: #667085;
    font-size: 14px;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f9fafb;
    padding-top: 80px;
}

footer h2 {
    font-size: 36px;
    font-weight:600;
    margin-bottom:30px;
}

footer h3 {
    font-size:20px;
    color:#667085;
    margin-bottom: 40px;

}

footer #cadastro {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    margin-bottom: 32px;
}

footer #cadastro a {
    background-color: #8e2424;
    text-decoration: none;
    padding: 15px;
    border-radius: 10px;
    color: #fff;
    font-size: 16px;
}

footer #cadastro input {
    width: 370px;
    height: 25px;
    font-size: 16px;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.075);
    padding: 10px 15px;

}

footer h6 {
    color: #98a2b3;
    font-size: 16px;
    margin-bottom: 96px;
}
